.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    margin-top: 80px;
    width: 100%;
}

.cartItemsTable {
    border-collapse: collapse;
    margin: 5px;
    width: 100%;
    max-width: 800px;
}

.leftAlign {
    text-align:left;
}

.cartItemsTable th {
    color: var(--text-color);
    padding: 8px;
    font-size: 16px;
    border-bottom: var(--border);
}

.cartItemsTable td {
    padding: 0px 8px;
    text-align: center;
    font-size: 16px;
}

.cartItem .description {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.cartItem img {
    width: 40px;
    margin: 10px;
    margin-left: 0px;
    border: var(--border);
    border-radius: 4px;
}

.cartItemprice {
    justify-content:center; 
}

.countHandler {
    width: 40px;
    display: flex;
    align-items: center;
    margin-right: 30px;
    justify-content: space-between;
}

.countHandler button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--text-color)
}

.countHandler input {
    width: 30px;
    text-align: center;
    margin: 0 5px;
}

.cartItemSubtotal {
    font-weight: bolder;
}

.buttonContainer {
    display:flex;
    justify-content: space-around;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.checkout p {
    text-align: center;
    font-size: larger;
}