.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  margin-top: 80px;
  transition: color 0.3s ease;
  width: 100%;
}

.cartItems {
  overflow: auto;
  max-width: 700px;
  max-height: 100%;
  width: 100%;
}

.cartItemsTable {
  border-collapse: collapse;
  margin: 0px 5px;
  width: calc(100% - 20px);
  box-sizing: border-box;
  min-width: 350px;
}

.leftAlign {
  text-align: left;
  width: 80%;
}

.quantity {
  width: 40px;
  padding-left: 10px;
}

.cartItemsTable th {
  color: var(--text-color);
  padding: 8px;
  font-size: 16px;
  border-bottom: var(--border);
}

.cartItemsTable td {
  padding: 0px 8px;
  text-align: center;
  font-size: 16px;
}

.cartItem .description {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  width: 80%;
}

.cartItem img {
  width: 40px;
  margin: 8px;
  margin-left: 0px;
  border: var(--border);
  border-radius: 4px;
}

.cartItemprice {
  justify-content: center;
}

.counterContainer {
  width: 40px;
}

.countHandler {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 3px;
}

.countHandler button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}

.countHandler input {
  width: 30px;
  text-align: center;
  margin: 0 5px;
}

.cartItemSubtotal {
  font-weight: bolder;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
  box-shadow: var(--box-shadow-color);
}

.checkout p {
  text-align: center;
  font-size: larger;
}
