.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--background-color);
}

.cartItem {
    width: 700px;
    height: 250px;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow-color);
    border-radius: 25px;
    margin: 30px;
}

.cartItem img {
    width: 200px;
    margin: 10px;
    border: var(--border);
    border-radius: 1px;
}

.cartItem .description {
    width: 100%;
    font-size: 30px;
}

.countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
}

.checkout button {
    width: 150px;
    height: 50px;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}

.checkout p {
    text-align: center;
}