.shopTitle {
    margin-top: 100px;
    text-align: center;
    font-size: 40px
  }
  
  .products {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: space-evenly;
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 400px;
    border: 2px solid black;
    border-radius: 1px;
  }
  
  .product .description {
    text-align: center
  }
  
  .product:hover {
    transition: .3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBtn {
    background-color: transparent;
    border: 2px solid rgb(19,19,19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer
  }
  